.logo{
    display: flex;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}

 nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

 nav ul{
    list-style: none;
}

 nav li{
    display: inline-block;
    padding: 0 10px;
}

 nav li a{
    text-decoration: none;
    color: #000;
}

 nav li a:hover{
    color: #089da1;
}

 nav .social_icon i{
    margin: 0 5px;
    font-size: 18px;
}

 nav .social_icon i:hover{
    color: #089da1;
    cursor: pointer;
}